/* Container for the registration form */
.register-box {
  width: 400px;
  padding: 15px 25px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.register-form {
  /* Centers the form and limits its maximum width */
  max-width: 600px;
  margin: 0 auto;
}

/* Title at the top of the form */
.form-title {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.1rem;
}

/* Grouping for related form fields */
.name-fields, .password-fields, .birth-gender-fields, .email-field {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 0.001rem;
}

.name-fields > div, .password-fields > div, .birth-gender-fields > div {
  flex: 1;
  min-width: 110px;
}

/* Styling for all labels */
.register-form label {
  margin-bottom: 0.04rem;
  display: inline-block;
}

.register-form input, .register-form select {
  width: 100%;
  box-sizing: border-box;
  padding: 0.4rem;
  height: 40px;
}

/* Ensures space is reserved for error messages */
.error-wrapper {
  margin-top: 1px;
  min-height: 14px;
}

/* Styling for error messages */
.error-message {
  color: red;
  font-size: 0.65rem;
  margin-top: 0.05rem;
  margin-bottom: 0.1rem;
}

/* Red asterisk indicating required fields */
.required-star {
  color: red;
  margin-left: 4px;
}

/* Styling for the form submission button */
.submit-button {
  background-color: #1a73e8;
  color: white;
  padding: 0.45rem 1rem;
  border: none;
  border-radius: 24px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

/* Custom styled label to trigger file input */
.custom-file-upload {
  display: inline-block;
  padding: 0.45rem 0.9rem;
  background-color: #f1f3f4;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  color: #333;
  border: 1px solid #ccc;
  text-align: center;
  transition: background-color 0.3s ease;
  width: fit-content;
  margin-bottom: 0.01rem;
  margin-top: 0.01rem;
  height: 40px;
  line-height: 22px;
}

.custom-file-upload:hover {
  background-color: #e0e0e0;
}

.flex-1 {
  flex: 1;
}
