# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# C++
*.o
*.out
*.a
*.so
*.exe
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
build/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
