.mail-toolbar {
  display: flex;
  gap: 12px;
  padding: 10px 16px;
  border-bottom: 1px solid #ddd;
  align-items: center;
  background-color: white;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin: 0 10px;
  color: #5f6368;
  transition: background-color 0.2s, color 0.2s;
}

.icon-button:hover {
  background-color: #e8f0fe;
  border-radius: 50%;
  color: #202124;
}

.mail-toolbar {
  display: flex;
  gap: 12px;
  padding: 10px 16px;
  border-bottom: 1px solid var(--border-color);
  align-items: center;
  background-color: var(--popup-bg);
}

.remove-label-btn {
  background: none;
  border: none;
  color: var(--secondary-text);
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
}

.remove-label-btn:hover {
  color: red;
}



