.login-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2; /* ברירת מחדל - כמו Gmail */
  font-family: "Roboto", sans-serif;
}

/* במסכים צרים - הרקע הופך ללבן */
@media (max-width: 768px) {
  .login-page-container {
    background-color: white;
  }
}
