.nav-link {
  color: var(--text-color) !important;
  padding: 10px 20px;
  margin: 4px 8px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 20px;
  display: block; 
  transition: background-color 0.2s ease;
}

.nav-link.active {
  background-color: var(--active-bg-color) !important;
  font-weight: 600;
  color: var(--text-color) !important;
}

.nav-link:hover {
  color: var(--text-color) !important;
}

.sidebar {
  background-color: var(--sidebar-bg);
  color: var(--text-color);
}

.label-title {
  color: var(--secondary-text);
}

